<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account</title>
</head>
<body>
<p>NAME: {{log_in_customer.name}}</p>
<p>ADDRESS: {{log_in_customer.address}}</p>
<p>ZIP CODE: {{log_in_customer.zipcode}}</p>
<p>BALANCE: ${{log_in_customer.balance}}</p>
<p>PICKUP DAY: {{log_in_customer.pickup_day}}</p>
<p>ONE TIME PICKUP: {{log_in_customer.onetime_pickup}}</p>
<p>SUSPEND START: {{log_in_customer.suspend_start}}</p>
<p>SUSPEND END: {{log_in_customer.suspend_end}}</p>
</body>
</html>